body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: rgb(88, 223, 154);
  background: linear-gradient(0deg, rgba(88, 223, 154, 1) 0%, rgba(106, 132, 227, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 85%;
  max-width: 400px;
  background: rgb(135, 103, 152);
  background: radial-gradient(circle, rgba(135, 103, 152, 0.5795246800731262) 0%, rgba(75, 137, 208, 1) 83%);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container form {
  width: 80%;
}

.container label {
  margin-bottom: 1.5rem;
}

.container input,
.container button {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 2px solid #567ce5;
  border-radius: 5px;
  width: 100%;
}

.container button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.container button:hover {
  background-color: #6767de;
}